.custom-nav {


   background-color: rgb(9, 9, 85);

}

.custom-class {
 
    margin-top: 3px;
    text-align: center;

}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}






