<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">



    {% block cssfiles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light custom-nav p-4">
        <a class="navbar-brand" href="#"></a>
     <div class="collapse navbar-collapse justify-content-end">
       
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-items">
                <a class="nav-link text-light" style="font-weight: bold;"  href="#">{{user}}</a>
            </li>
           
            <li class="nav-items">
                <a class="nav-link text-light" style="font-weight: bold;"  href="{% url 'user_assessment:user_logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
      
       
     </div>
    
    </nav>
    <!-- <div class="container pt-3">
        <h4 class="custom-class" style="color: rgb(3, 3, 122);font-weight: bold;">INTERVIEW CONFIDENCE LEVEL ASSESSMENT</h4>
    </div> -->
    {% block content %}
    {% endblock %}
</body>
</html>